@model IEnumerable<Auction.Areas.Identity.Data.AuctionUser>
@{
    Layout = "_AdminLayout";
}

<h2>User list</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
	        <td>
		        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Access rights</a>
	        </td>
	        <td>
		        <a class="btn btn-sm btn-primary" asp-action="Ban" asp-route-userid="@user.Id">@(user.IsBanned ? "unban" : "ban")</a>
	        </td>
        </tr>
    }
</table>
